.hotspot-wrapper {
    .hotspot-container {
        .hotspot-item {
            @apply absolute cursor-pointer;
        }
    }
}

.hotspot-icon {
    @apply flex items-center justify-center text-white border border-white;
    border-radius: 16px;
    padding: 3px;
    height: 26px;
    min-width: 26px;

    &.Available {
        @apply bg-primary;
    }

    &.Unavailable {
        @apply bg-red-500;
    }

    &.Pending {
        @apply bg-yellow-500
    }
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
}